@model Testowy.Models.Samochod

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Samochod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RokProdukcji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RokProdukcji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Przebieg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Przebieg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pojemnosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pojemnosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RodzajPaliwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RodzajPaliwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zdjecie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zdjecie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miniaturka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miniaturka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JestSamochodemTygodnia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JestSamochodemTygodnia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JestWCentrali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JestWCentrali)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
